* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: "Roboto";
  background-image: url(./img/papel.jpg);
}

.header {
  background-color: white !important;
  border-bottom: #0000001a 2px solid;
  color: black !important;
}

.carrito { 
  text-decoration: none;
  color: black;
}

.carrito:hover {
  color: black;
}

.img__logo {
  width: 30px;
  height: 30px;
}

.letras__header {
  font-size: "Roboto";
  color: black !important;
}

.card__aling{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.cards {
  width: 300px;
  padding: 10px;
  margin: 10px;
  background-color: #5f4b59e3;
  color: white;
}

.imagen__card {
  width: 280px;
  height: 450px;
}

.contador {
  margin:10px !important;
}

.boton {
  background-color: white !important;
  color: black !important;
  border-color: white !important;
}

.info {
  display: flex;
  flex-direction: row;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.img {
  width: 500px;
  height: 800px;
  margin: 70px;
  margin-left: 200px;
}

.sinopsis {
  padding: 50px;
  margin-top: 250px;
}

.titulo {
  padding: 50px;
  padding-left: 0;
}

.letras {
  color: white !important;
}

.lista {
  display: flex;
  flex-direction: row;
  padding: 15px;
  padding-left: 60px;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.lista__div {
  display: flex;
  flex-direction: row;
  margin: 70px;
}

.lista__titulo {
  text-align: center;
  padding: 30px;
  margin: 0;
}

.lista__botones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 45x;
  align-items: center;
}

.lista__eliminar {
  width: 200px;
  height: 50px;
  margin: 25px;
}

.lista__botonInt {
  margin: 50px;
  width: 200px;
  height: 50px;
}

.lista__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carta__cuerpo {
  width: 400px;
  height: 350px;
  margin: 50px;
  margin-left: 40%;
  margin-right: 45%;
  align-items: center;
}

.carta__letras {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.carta__titulos {
  padding: 10px;
}

.lista__img {
  width: 150px;
  height: 200px;
}

.lista__letras {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-right: 70px;
  padding-left: 70px;
  margin: 0;
}

.lista__boton {
  width: 200px;
  height: 50px;
  margin: 70px;
  margin-top: 90px;
}





