* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: "Segoe UI";
  background-image: url(./img/fondo.jpg);
}

.header {
  background-color: rgb(114, 6, 82) !important;
  border-bottom: #000000 2px solid;
  color: white !important;
}

.card__aling{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.cards {
  width: 300px;
  padding: 10px;
  margin: 10px;
  background-color: #523c15e8;
  color: white;
}

.contador {
  margin:10px !important;
}

.info {
  display: flex;
  flex-direction: row;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}

.img {
  width: 500px;
  height: 800px;
  margin: 70px;
  margin-left: 200px;
}

.sinopsis {
  padding: 50px;
  margin-top: 250px;
}

.titulo {
  padding: 50px;
  padding-left: 0;
}

.letras {
  color: white !important;
}


